.container {
    width: 100%;
    background-color: #f0f0f0;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.tab {
    cursor: pointer;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    transition: background-color 0.2s ease;
}

.activeTab {
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    .container {
        background-color: #909090;
    }
    .activeTab {
        background-color: rgb(105, 105, 105);
    }
}